*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background: #4CA1AF; 
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.nav-container{
    width: 100vw;
    /* background-color: rgba(100, 100, 158, 0.737); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #8C7 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;

}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}

#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style-type: none;
    font-size: 2.5rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

#navlogo{
    font-size: 2.8rem ;
    color:azure;
}
a{
    text-decoration: none;
    color:azure;
}


#navitems{
    display: flex;
    gap: 40px;
    
}

.footerbox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #8C7 100%);
    
    width: 100%;
    text-align: center;
    min-height: 40px;
    
}

#footerp{
    color: azure;
     font-size: 2rem;
}


.content-box{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
  background-color: white;


    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}


.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s ;
    box-shadow: 1px 1px 30px black;
    border-radius: 20px;

}

.rightbox img{
    height: 550px;
    border-radius: 20px;
    transition: all 0.8s linear 0s;
}

.rightbox:hover{
    transform: scale(1.1);
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox h2{
    font-size: 2rem;
    
        
}

.ingbox{
    font-size: 1.3rem;
    list-style-type:square;
    line-height: 26px;
    font-family:sans-serif;
    
}

.recipe-box{
    font-size: 1.3rem;
    font-family:sans-serif;
    line-height: 26px;
    
}
 


.rightbox .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(58, 56, 56, 0.726);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightbox:hover .overlay{
    opacity: 1;
}


.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;

}
.heade1{
    border: 2px solid black;
    width: 200px;
    box-shadow: 2px 2px 15px black;
    font-style: italic;
    background-color: bisque;
    transition: all 0.6s linear 0s;
    border-radius: 4px;
}

.heade1:hover{
    transform: scale(1.2);
}
.heade2{

    border: 2px solid black;
    width: 200px;
    box-shadow: 2px 2px 10px black;
    font-style: italic;
    background-color:rgba(218, 165, 32, 0.562);
    transition: all 0.6s linear 0s;
    border-radius: 4px;
    

}
.heade3{
    border: 2px solid black;
    width: 200px;
    box-shadow: 2px 2px 10px black;
    font-style: italic;
    background-color: rgb(217, 151, 66);
    transition: all 0.6s linear 0s;
    border-radius: 4px;

}

.heade4{
    border: 2px solid black;
    width: 200px;
    box-shadow: 2px 2px 10px black;
    font-style: italic;
    background-color: rgba(255, 68, 0, 0.77);
    transition: all 0.6s linear 0s;
    border-radius: 4px;


}

.heade5{
    border: 2px solid black;
    width: 200px;
    box-shadow: 2px 2px 10px black;
    font-style: italic;
    background-color: rgba(255, 255, 0, 0.595);
    transition: all 0.6s linear 0s;
    border-radius: 4px;

}
.heade2:hover{
    transform: scale(1.2);}

    .heade3:hover{
        transform: scale(1.2);}

        .heade4:hover{
            transform: scale(1.2);}

            .heade5:hover{
                transform: scale(1.2);}